<!DOCTYPE html>
<html lang="en">
<head>
    <!--meta data-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=message%></title>

    <link rel="icon" type="image/x-icon" href="/resources/pictures/themes/logo.jpg">

    <!--link to spreadsheet-->
    <link rel="stylesheet" href="/styles/global.css" />

    <!--nice google font-->
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Lexend+Giga:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
<header>
    <div class="navbar">
        <a href="/users/new" class="button-outlined-nav">create avatar</a>
        <a href="/users" class="button-outlined-nav">community</a>
        <a href="/" class="button-outlined-nav">home</a>
    </div>
</header>

<main>

    <audio class="starwars-theme" autoplay loop muted>
        <source src="/resources/soundEffects/starwars_theme.mp3" type="audio/mp3">
        Your browser does not support the audio element.
    </audio>

    <div class="flex-container-error">
        <div>
            <h1 class="outlined-text" style="font-size: 50px; text-align: center;"><%=message%></h1>
        </div>

        <div>
            <img src="/resources/pictures/themes/duell.gif" class="user-pics" style="width:55vw; border-radius: 0;">
        </div>

    </div>
</main>

<footer style="margin-bottom: 20px;">
    <div class="footer-text">
        &copy; DAFA 2025 - IMC Krems
        <button class="mute-button" style="right: 0;">🔇</button>
    </div>
</footer>


<!--Script must be at the end of the file!-->
<!--link to javascript-->
<script src="/scripts/global.js"></script>

</body>
</html>